.-z0 {
    position: relative;
    z-index: 0;
}

.-z1 {
    position: relative;
    z-index: 10;
}

.-z2 {
    position: relative;
    z-index: 20;
}

.-z3 {
    position: relative;
    z-index: 30;
}

.-z4 {
    position: relative;
    z-index: 40;
}

.-z5 {
    position: relative;
    z-index: 50;
}