.claim-list {
  width: 100%;
  height: auto;
  padding: 0 12.5%;

  &_table-container {
    width: 100%;
    height: auto;
  }
  &_tool-bar {
    width: 100%;
    font-size: 3rem;
    min-height: 8rem;
    height: auto;
    @media (max-width: 800px) {
      flex-direction: column;
      & > * {
        margin: 1rem 0;
      }
    }
  }
}
